<a href="https://colab.research.google.com/github/abhishekbalawan/Data-science-projects/blob/main/forestfires_NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
from keras.models import Sequential
from keras.layers import Dense

In [21]:
model = Sequential()
model.add(Dense(30, input_dim=27, activation='relu'))
model.add(Dense(30, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [22]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [5]:
from google.colab import files
uploaded = files.upload()

Saving forestfires.csv to forestfires.csv

In [8]:
import io
import pandas as pd
forestFires = pd.read_csv(io.BytesIO(uploaded['forestfires.csv']))

In [16]:
#Storing inputs into X
X=forestFires[['FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind','rain', 'dayfri', 'daymon', 'daysat', 'daysun', 'daythu','daytue', 'daywed', 'monthapr', 'monthaug', 'monthdec', 'monthfeb','monthjan', 'monthjul', 'monthjun', 'monthmar', 'monthmay', 'monthnov','monthoct', 'monthsep']]
#Storing output into Y
Y=forestFires[['area']]

In [17]:
X

     FFMC    DMC     DC   ISI  ...  monthmay  monthnov  monthoct  monthsep
0    86.2   26.2   94.3   5.1  ...         0         0         0         0
1    90.6   35.4  669.1   6.7  ...         0         0         1         0
2    90.6   43.7  686.9   6.7  ...         0         0         1         0
3    91.7   33.3   77.5   9.0  ...         0         0         0         0
4    89.3   51.3  102.2   9.6  ...         0         0         0         0
..    ...    ...    ...   ...  ...       ...       ...       ...       ...
512  81.6   56.7  665.6   1.9  ...         0         0         0         0
513  81.6   56.7  665.6   1.9  ...         0         0         0         0
514  81.6   56.7  665.6   1.9  ...         0         0         0         0
515  94.4  146.0  614.7  11.3  ...         0         0         0         0
516  79.5    3.0  106.7   1.1  ...         0         1         0         0

[517 rows x 27 columns]

In [18]:
Y

      area
0     0.00
1     0.00
2     0.00
3     0.00
4     0.00
..     ...
512   6.44
513  54.29
514  11.16
515   0.00
516   0.00

[517 rows x 1 columns]

In [23]:
model.fit(X, Y, epochs=10, batch_size=150)

Epoch 1/10
4/4 [==============================] - 12s 4ms/step - loss: -773.5626 - accuracy: 0.0451
Epoch 2/10
4/4 [==============================] - 0s 3ms/step - loss: -1146.3250 - accuracy: 0.0000e+00
Epoch 3/10
4/4 [==============================] - 0s 5ms/step - loss: -1744.0351 - accuracy: 0.0000e+00
Epoch 4/10
4/4 [==============================] - 0s 4ms/step - loss: -1816.0999 - accuracy: 0.0000e+00
Epoch 5/10
4/4 [==============================] - 0s 4ms/step - loss: -2832.6744 - accuracy: 0.0000e+00
Epoch 6/10
4/4 [==============================] - 0s 4ms/step - loss: -2467.2040 - accuracy: 0.0000e+00
Epoch 7/10
4/4 [==============================] - 0s 4ms/step - loss: -3278.7323 - accuracy: 0.0000e+00
Epoch 8/10
4/4 [==============================] - 0s 3ms/step - loss: -3294.7724 - accuracy: 0.0000e+00
Epoch 9/10
4/4 [==============================] - 0s 4ms/step - loss: -4558.4209 - accuracy: 0.0000e+00
Epoch 10/10
4/4 [==============================] - 0s 4ms/step - loss: -4514.4776 - accuracy: 0.0000e+00

In [24]:
loss, accuracy = model.evaluate(X, Y)
print('Accuracy: %.2f' % (accuracy*100))
print('loss: %d' % loss)

17/17 [==============================] - 1s 1ms/step - loss: -5124.1318 - accuracy: 0.0000e+00
Accuracy: 0.00
loss: -5124